@media all and (min-width: 480px) {
  .Login {
	background-image: url("dots.png");  
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
#rock {
   background: url(Afghanistan.png) no-repeat;
}
}