.bg-brown-5 {
   background-color: #E57A1A;
   border-radius: 25px;
}

.bg-black {
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
}

.bg-sky {
  background-color: #79C4CB;
  border-radius: 25px;
}

.card-blank-green-1 {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: black;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-green-2 {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  // background-color: #58CF67;
  background-image: url("https://i.imgur.com/vAUGcFV.png");

  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-sand-3 {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #85E190;
  // background-image: url("https://i.imgur.com/vAUGcFV.png");

  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-fixph {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #848d90;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-brown {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #804227;
  padding: 1em;
  margin-bottom: 20px;
  margin-top: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-darkbrown {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #4d2416;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-nutrients {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #472d58;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-water {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #124c5d;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-green {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #08c874;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-pollen {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #e48914;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-red {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #AA3F39;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-red-1 {
  // box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #F45047;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.bgred {
   background-color: #AA3F39;
}

.bg-light {
   background-color: #8B8568;
}

.bgimg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6f/Marijuana_seeds.jpg");
}

.bgimgdash {
  background-image: url("https://wallpapercave.com/wp/wp2594557.jpg");
}

.bgWeedimg {
  border-radius: 25px;
  background-image: url("https://i.imgur.com/gYfDO7V.jpg");
}

.card-blank {
  // box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-weedLeft {
  border-radius: 25px;
  background-image: url("https://www.cannareupstore.com/image/cache/catalog/rsz_marijuana-banner-1140x380.png");
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-weedLeft-brown {
  border-radius: 25px;
  background-color: #804227;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-dispensary {
  background-image: url("https://www.cannareupstore.com/image/cache/catalog/rsz_marijuana-banner-1140x380.png");
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-margin {
  margin: 38px;
}

.seed-title,
.logging-in-text {
  color: #fff;
}

button.load-history {
  max-width: 200px;
  margin-top: 20px;
}

.activity-log {
  max-height: 600px;
  overflow-y: scroll;
}

.section-heading {
  font-weight: bold;
}
#fetch-all-history {
  margin-top: 20px;
}

button.export-stats {
  max-width: 200px;
  margin: 0 0 10px 20px;
}

.form-input {
  margin-bottom: 20px;
}
