.bgimg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6f/Marijuana_seeds.jpg');
}

.bgWeedimg {
	border-radius: 25px;
    background-image: url('https://i.imgur.com/gYfDO7V.jpg');
}

.card-blank {
	box-shadow: 10px 10px 5px black;
	border-radius: 25px;
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 16px;
    @include border-radius($borderRadius);

    &.card-w-title {
        padding-bottom: 2em;
    }

    h1 {
        margin: .5em 0 .5em 0;
        border-bottom: 1px solid #d5d5d5;
        padding: .1em;
        font-size: 24px;

        &:first-child {
            margin: 0 0 .5em 0;
        }
    }
}

.card-weedLeft {
	border-radius: 25px;
    background-image: url("https://www.cannareupstore.com/image/cache/catalog/rsz_marijuana-banner-1140x380.png");
    padding: 1em;
    margin-bottom: 16px;
    @include border-radius($borderRadius);

    &.card-w-title {
        padding-bottom: 2em;
    }

    h1 {
        margin: .5em 0 .5em 0;
        border-bottom: 1px solid #d5d5d5;
        padding: .1em;
        font-size: 24px;

        &:first-child {
            margin: 0 0 .5em 0;
        }
    }
}

.card-dispensary {
    background-image: url("https://www.cannareupstore.com/image/cache/catalog/rsz_marijuana-banner-1140x380.png");
    padding: 1em;
    margin-bottom: 16px;
    @include border-radius($borderRadius);

    &.card-w-title {
        padding-bottom: 2em;
    }

    h1 {
        margin: .5em 0 .5em 0;
        border-bottom: 1px solid #d5d5d5;
        padding: .1em;
        font-size: 24px;

        &:first-child {
            margin: 0 0 .5em 0;
        }
    }
}

.card-margin {
	margin: 38px;
}