.bg-gold {
   background-color: #AA9639;
}

.card-blank-grey {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #959389;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-gold {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #AA9639;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-green {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #C6A300;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-red {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #AA3F39;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-blank-light {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #448F30;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.bgred {
   background-color: #AA3F39;
}

.bg-light {
   background-color: #8B8568;
}

.bgbrown {
   background-color: #ffffff;
}

.bgbrown {
   background-color: #ffffff;
}

.bgbrown {
   background-color: #ffffff;
}

.bgimg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6f/Marijuana_seeds.jpg");
}

.bgimgdash {
  background-image: url("https://wallpapercave.com/wp/wp2594557.jpg");
}

.bgWeedimg {
  border-radius: 25px;
  background-image: url("https://i.imgur.com/gYfDO7V.jpg");
}

.card-blank {
  box-shadow: 10px 10px 5px black;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-weedLeft {
  border-radius: 25px;
  background-image: url("https://www.cannareupstore.com/image/cache/catalog/rsz_marijuana-banner-1140x380.png");
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-weedLeft-light {
  border-radius: 25px;
  background-color: #576E5A;
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-dispensary {
  background-image: url("https://www.cannareupstore.com/image/cache/catalog/rsz_marijuana-banner-1140x380.png");
  padding: 1em;
  margin-bottom: 16px;
  // @include border-radius($borderRadius);

  &.card-w-title {
    padding-bottom: 2em;
  }

  h1 {
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: 0.1em;
    font-size: 24px;

    &:first-child {
      margin: 0 0 0.5em 0;
    }
  }
}

.card-margin {
  margin: 38px;
}

.seed-title,
.logging-in-text {
  color: #fff;
}

button.load-history {
  max-width: 200px;
  margin-top: 20px;
}

.activity-log {
  max-height: 600px;
  overflow-y: scroll;
}

.section-heading {
  font-weight: bold;
}
#fetch-all-history {
  margin-top: 20px;
}

button.export-stats {
  max-width: 200px;
  margin: 0 0 10px 20px;
}

.form-input {
  margin-bottom: 20px;
}
