@media all and (min-width: 480px) {
  .Login {
	background-image: url("assets/img/dots.png");  
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
#rock {
   background: url(assets/img/Afghanistan.png) no-repeat;
}
}